/* To whole page */
body {
  text-align: center;
  background-color: #3AAFA9;
  color: #DEF2F1;
  font-family: 'Playfair Display', sans-serif;
}

* {
  margin: auto;
}

.desc {
  width: 35%;
}

a {
  color: #DEF2F1;
}

a:hover {
  color: #f3fffd;
}

p {
  text-align: center;
  width: 50%;
  margin: auto;
}

h2 {
  border-bottom: solid black;
  width: 20%;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #16252A;
}

/* Intro Page */
h1 {
  margin-top: 3%;
  border: solid black;
  font-family: sans-serif;
  width: 50%;
}

.background {
  width: 75%;
  margin-top: 1.5%;
}

#down, .me {
  color: #16252A;
}

.down-text {
  border-bottom: solid #16252A;
  width: 10%;
}

/* Navbar */
.logo {
  width: 10%;
  height: 10%;
}

.logo-title {
  margin-top: 5%;
}

/* Product */
/* Staff */
.member {
  border: solid black;
}

/* Contact */
.message {
  height: 200px;
  word-wrap: break-word;
}

.form-item {
  width: 50%;
  margin: auto;
}
/* Footer */
.footer p {
  text-align: left;
  margin-left: 2%;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* Widens most elements */
  h1, .desc, .down-text, .title, .staff, .staff h2, .member, .footer {
    width: 100%;
  }
  /* Contact (Media Query) */
  .info, .info-item, .contact h2 {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 1%;
  }
  .contact h2 {
    width: 100%;
  }
  .form-item {
    width: 100%;
  }
  /* Footer (Media Query) */
  .footer p {
    text-align: center;
    margin: auto;
  }
}
