/* Apply to whole page */
body {
  text-align: center;
  background-color: #3AAFA9;
  color: #DEF2F1;
  font-family: 'Playfair Display';
}

.bottom-border {
  border-bottom: solid #16252A;
}

.btn {
  background-color: #DEF2F1;
}

a:hover {
  color: #16252A;
}

p .navbar {
  color: #FEFFFF;
}

h1, h2, h3, h4 {
  color: #16252A;
  font-family: 'Roboto Condensed';
}

/* Navbar */
.logo {
  height: 10%;
  width: 10%;
  border-radius: 50%;
}

.navbar {
  width: 97%;
  margin-top: 2%;
  margin: auto;
}

h4 {
  margin-left: 2%;
  margin-top: 3%;
}

/* Intro */
h1 {
  width: 30%;
  margin: auto;
}

.ptd {
  width: 35%;
  margin: auto;
  margin-top: 1%;
}

/* Shows product */
.product {
  margin-top: 5%;
}

.product-1 {
  width: 30%;
  text-align: left;
  margin-right: 28%;
  margin-left: 4%;
  margin-top: 5%;
}

.product-2 {
  float: right;
  width: 30%;
  margin-top: 6%;
  padding-bottom: 0%;
}

.product-title {
  width: 47%;
}

.img-1 {
  width: 30%;
  height: 50%;
  margin-top: 4%;
}

.img-caption {
  width: 70%;
  margin: auto;
}

.spec {
  width: 25%;
  height: auto;
  margin-top: 2%;
  text-align: left;
  margin-left: 4%;
  margin-right: 4.25%;
  background-color: #16252A;
  border-radius: 2%;
  padding-right: 1%;
}

.infoIcon {
  padding-left: 45%;
  margin-top: 5%;
}

ul {
  margin-top: 5%;
}

/* Leadership */
.leadership {
  margin-top: 4%;
}

.leadership-title {
  width: 20%;
  margin: auto;
}

.member1, .member2, .member3 {
  width: 25%;
  height: 100%;
  border: solid 1px #16252A;
  margin-top: 2%;
}

.member-img {
  width: 40%;
  height: 30%;
  border: solid 1px #16252A;
  border-radius: 50%;
  margin-top: 3%;
}

.member-name {
  margin-top: 3%;
}

.member-description{
  text-align: justify;
}

/* Contact */
.contact {
  margin-top: 2%;
}

.contact-header {
  margin-top: 2%;
  width: 47%;
}

.info {
  width: 30%;
  float: left;
  text-align: left;
  margin-left: 18%;
}

.form {
  margin-right: 20%;
  margin-top: 1%;
}

input, textarea {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 125%;
  border: solid 1px #16252A;
  color: #16252A;
  background-color: #DEF2F1;
}

.contactForm {
  width: 40%;
  background-color: #DEF2F1;
  margin-right: 10%;
  border-radius: 2%;
}

.message {
  height: 200px;
  margin: auto;
  word-wrap: break-word;
}

.submit {
  border: solid 1px #16252A;
}

::placeholder {
  color: #16252A;
  opacity: 1; /* For all you firefox users :) */
}

/* Footer */
footer {
  margin-top: 2%;
}

.text {
  margin-left: 4.5%;
}

.smbtns {
  margin-left: 70%;
  margin-top: 1%;
}

a {
  color: #16252A;
}

.insta {
  color: #DEF2F1;
}

.me {
  border-bottom: solid #16252A 1px;
}

/* Media Queries */
@media screen and (max-width: 900px) & (min-width: 700px) {
  .member1, .member2, .member3 {
    height: 200%;
    width: 110%;
  }
  .leadership-title {
    width: 80%;
  }
  .contact-header {
    width: 250%;
  }
  .info-item {
    width: 250%;
  }
  .product-title {
    width: 150%;
  }
  .product-desc {
    width: 150%;
  }
  .ptd {
    width: 50%;
  }
  h1 {
    width: 70%;
  }
  .img-1 {
    width: 100%;
  }
  #product {
    margin-top: 2%;
  }
  .product-2 {
    width: auto;
  }
  .spec {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .member1, .member2, .member3 {
    height: 200%;
    width: 110%;
  }
  .leadership-title {
    width: 80%;
  }
  .contact-header {
    width: 250%;
  }
  .info-item {
    width: 250%;
  }
  .product-title {
    width: 150%;
  }
  .product-desc {
    width: 150%;
  }
  .ptd {
    width: 50%;
  }
  h1 {
    width: 70%;
  }
  .img-1 {
    width: 50%;
  }
  #product {
    margin-top: 2%;
  }
  .product-2 {
    width: 50%;
  }
  body {
    text-align: center;
    float: none;
  }
  .spec {
    width: 100%;
  }
}
